<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="securityKey" value="myKey123456789123"/>
    <add key="mailPort" value="587"/>
    <add key="smtpServer" value="smtp.server.com"/>
    <add key="mailSender" value="sender@merwylan.nl"/>
    <add key="mailRecipients" value="recipient@merwylan.nl"/>
    <add key="mailPassword" value="password"/>
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString="Server=(localdb)\MSSQLLocalDb;Database=ExampleDb;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>