<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="securityKey" value="myKey123456789123"/>
  </appSettings>
  <connectionStrings>
    <add name="database" connectionString="Server=(localdb)\MSSQLLocalDb;Database=ExampleDb;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>